__pycache__
*/__pycache__
*.zip
third_party
imit_checkpoints
InfiniGym/isaacgymenvs/logs
InfiniGym/isaacgymenvs/runs
InfiniGym/isaacgymenvs/videos
InfiniGym/runs
InfiniGym/logs
InfiniGym/videos

# HJ added
.vscode
asset_release
asset_release_v1
asset_release_v1.1
InfiniGym/images
scripts
*.sh