__pycache__
*/__pycache__
*.zip
third_party
imit_checkpoints
InfiniGym/isaacgymenvs/logs
InfiniGym/isaacgymenvs/runs
InfiniGym/isaacgymenvs/videos
InfiniGym/runs
InfiniGym/logs
InfiniGym/videos

# HJ added
asset_release
asset_release_v1
asset_release_v1.1
asset_release_v1.2
asset_release_v1.3
InfiniGym/isaacgymenvs/config/scene/benchmark_eval_v1.1/
InfiniGym/isaacgymenvs/config/scene/benchmark_eval_v1.2/
InfiniGym/isaacgymenvs/config/scene/benchmark_train_v1.1/
InfiniGym/isaacgymenvs/config/scene/benchmark_train_v1.2/

InfiniGym/images/
InfiniGym/log*/
InfiniGym/runs/
InfiniGym/videos/
InfiniGym/scene_images/
InfiniGym/sim_*/
scene_images/
logs/

scripts
plot_pr_curve.py
*.sh

.vscode/
.claude/
.codex
CLAUDE.md
fetchbench_cabinet.md
